.login {
    border: 2px solid #fafafa;
    background-color: #fff;
    padding: 2rem;
    font-size: 16px;
    border-radius: 5px;
    border-top: 3px solid $color-primary-dark;
    margin-bottom: 100px;
    @include respond(phone) {
        margin-bottom: 40px;
       
        }
    &__title {
        font-size: 11px;
        margin: 10px 0;
    }

    &__h2 {
        font-size: 30px;
        margin: 10px 0 20px 0;

        @include respond(lg) {
            font-size: 28px;
        }

    }

    &__h3 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #c8c8c8;
        line-height: 0.1em;
        margin: 20px 0;
        font-size: 16px;

        span {
            background: #fff;
            padding: 0 10px;
        }

    }




    &__form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        &--div {
            display: flex;
            align-items: center;
        }

        &--left,
        &--right {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--desired-salary {
            position: relative;
        }
    }


    &__input {
        height: 40px;
        padding: 0 10px 0 10px;
        background-color: #fff;
        border: 1px solid #c8c8c8;
        border-radius: 3px;

        color: inherit;
        font-weight: normal;
        font-size: 14px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;

        &--experience {
            @include respond(phone) {
                margin-top: 10px;
                width: 60%;
            }
        }

        &--desired-location {
            margin: 10px 0;
        }

        @include respond(tab-port) {
            margin-top: 10px;
        }
    }

    &__checkbox {
        &__input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

            &:checked+label:after {
                content: '';
                display: block;
                position: absolute;
                top: 6px;
                left: 8px;
                width: 5px;
                height: 12px;
                border: solid $color-primary-dark;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        &__label {
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid $color-primary-dark;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 8px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 15px;
            }
        }
    }

    &__btn {
        width: 100%;
        margin: 10px 0;
        position: relative;
        font-size: 16px;
        padding: 15px;
        border-radius: 20px;
        border-width: 2px;
        &:hover {
            border-width: 2px;
        }

        img {
            width: 25px;
            position: absolute;
            right: 10px;
            top: 8px;
            height: auto;
        }
    }

    &__create-btn {
        padding: 7px 25px;
        width: 100%;
        border-radius: 20px;
        background-color: $color-primary-dark;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    &__create-text{
        font-size: 12px;
        margin-bottom: 20px;
    }

}


.message {

    display: none;
    width: 100%;
    padding: 5px;
    color: #fff;
}

.error {
 
    color: red;
}

.success {
    
    color: green;
}
