.qualification {
    border: 2px solid #fafafa;
    background-color: #fff;
    padding: 2rem;
    font-size: 16px;
    border-radius: 5px;
    border-top: 3px solid $color-primary-dark;

    &__title {
        font-size: 11px;
        margin: 10px 0;
    }

    &__h2 {
        font-size: 30px;
        margin: 10px 0 20px 0;
    }

    &__h3 {
        font-size: 24px;
        margin: 40px 0 10px 0;
    }

    &__p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__div {

        &--example {
            display: none;
        }


        &--item {
            position: relative;
            padding: 2rem 4rem 2rem 2rem;
            border: 1px solid $color-primary-dark;
           border-radius: 10px;
            margin: 10px 0;





        }

        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond(tab-port) {
                flex-wrap: wrap;

            }

            @include respond(main-img-resp-1) {
                flex-wrap: wrap;

            }
        }

        &--bottom {
            padding-top: 20px;
            z-index: 5;
        }
        &--middle{
            // height: 50px;
        }

        .switch-block {
            width: 300px;
            border-radius: 20px;
            @include respond(phone) {
               width: 250px;

            }

            span {
                border-radius: 20px;
            }
        }


    }

    &--remove-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        padding: 0 5px;
        cursor: pointer;
    }

    &__questions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;

        &::after {
            content: "";
            flex: auto;
        }

        &--item {
            border: 2px solid #eae0e4;
            border-radius: 20px;
            padding: 5px 10px;
            background: #fff;
            color: $color-primary-dark;
            cursor: pointer;
            margin: 5px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

            &:not(:nth-child(2n+2)) {
                margin-right: 5px;
            }

            &:nth-last-child(n+3) {
                @include respond(phone) {

                    margin: 0;
                    margin-bottom: 10px;


                }

                margin-bottom: 10px;
            }

            @include respond(phone) {
                width: 49%;
                margin: 0;



            }
        }
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__input {
        height: 40px;
        padding: 0 10px 0 10px;
        background-color: #fff;
        border: 1px solid #c8c8c8;
        border-radius: 3px;

        color: #aeaeae;
        font-weight: normal;
        font-size: 14px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;

        &--experience {
            @include respond(phone) {
                margin-top: 10px;
                width: 60%;
            }
        }

        @include respond(tab-port) {
            margin-top: 10px;

        }
    }

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #eae0e4;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: #000;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }

        &:focus>option:checked {
            background: $color-primary-dark !important;
            color: #fff;
        }

        &:focus>option:hover {
            background: $color-primary !important;
            color: #fff;
        }


        &--experience {
            @include respond(phone) {

                width: 55% !important;
            }
        }
    }

    &-select-div {

        position: relative;
        display: flex;
        align-items: center;
        width: 200px;
        height: 40px;
        line-height: 3;
        background: #eae0e4;
        overflow: hidden;
        border-radius: .25em;
        font-size: 14px;


        // ARROW
        &::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            background: #eae0e4;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;

            display: none;
        }

        &:hover::after {
            color: #fff;
        }

        .select2-selection {
            border: none;
            background: transparent;

            &:focus {
                outline: none;
            }

            .select2-selection__rendered {
                &:focus {
                    outline: none;
                }
            }
        }

    }

    &__language {
        &--change {
            color: $color-primary;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &--item {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #6e2626;
            padding-left: 0;
            margin: 5px 0;
            width: 33%;

            @include respond(phone) {
                width: 100%;
            }

        }

        &__label {
            display: flex;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            // background-color: $color-primary;
            border: 1px solid $color-primary-dark;
            color: $color-primary-dark;
            width: 100%;
            padding: 8px 10px;
            font-size: 16px;

            border-radius: 20px;




            @include respond(tab-port) {
                font-size: 13px;
                padding: 8px 5px;

            }


            &-check {

                margin-right: 5px;

                // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;

                opacity: 0;
            }


        }

        &__input[type="checkbox"] {
            // visibility: hidden;
            // height: 0;
            // width: 0;
            // display: none;
            opacity: 0;

            &:checked+label {
                background: $color-primary-dark;

                // background-color: $color-primary;
                color: #ffffff !important;
            }

            &:checked+label i {
                opacity: 1;
            }
        }

        &__input[type="radio"] {
            visibility: hidden;
            height: 0;
            width: 0;
            display: none;

            &:checked+label {
                background: $color-primary-dark;

                // background-color: $color-primary;
                color: #ffffff !important;
            }
        }
    }

    &__job-type {
        margin: 30px 0;
    }

    &__salary {

        margin: 20px auto;

        &__list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &--item {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                color: #6e2626;
                padding-left: 0;
                margin: 5px 0;
                width: 33%;

                @include respond( main-img-resp) {
                    width: 49%;
                            }

                @include respond(phone) {
                    width: 100%;
                }
            }

            &__label {

                text-align: center;
                cursor: pointer;
                // background-color: $color-primary;
                border: 1px solid $color-primary-dark;
                color: $color-primary-dark;
                width: 100%;
                padding: 8px 10px;
                font-size: 16px;

                border-radius: 20px;




                @include respond(tab-port) {
                    font-size: 13px;
                    padding: 8px 5px;

                }



            }

            &__input[type="checkbox"] {
                visibility: hidden;
                height: 0;
                width: 0;
                display: none;

                &:checked+label {
                    background: $color-primary-dark;

                    // background-color: $color-primary;
                    color: #ffffff !important;
                }
            }

            &__input[type="radio"] {
                visibility: hidden;
                height: 0;
                width: 0;
                display: none;

                &:checked+label {
                    background: $color-primary-dark;

                    // background-color: $color-primary;
                    color: #ffffff !important;
                }
            }
        }


        &__btn-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__btn-input {
            display: flex;
            align-items: center;
        }

        &--input {
            height: 40px;
            border: 1px solid #f0f0f0;
            padding-left: 10px;
        }
        

        &--input-max {
            // position: absolute;
            // right: 116px;
            // top: 0;

            // @include respond(main-img-resp-2) {
            //  position: initial;
            // }
            @include respond( main-img-resp) {
       order: 3;
               }
        }
        &--input-min{
            @include respond( main-img-resp) {
                margin-bottom: 10px;
       order: 1;
               }
        }

        &--changeable-div {
            display: none;
            padding: 0 16px;
            position: relative;
            justify-content: space-between;
            flex-wrap: wrap;
            

        
           
        }

        &--constant {
            &-div {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                position: relative;
            }

            &-input {
                width: 200px;
            }
        }
    }

    &__btn-decrement,
    &__btn-increment {
        width: 40px;
        width: 60px;
        font-size: 20px;
        color: $color-primary-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        padding: .900rem .75rem;

        @include respond(tab-port) {
            height: 30px;
            width: 30px;
            font-size: 15px;

        }

        @include respond(phone) {
            height: 30px;
            width: 30px;
        }
    }

    &__btn-decrement {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__btn-increment {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}

.m-t-10 {
    @include respond(tab-port) {
        margin-top: 10px;
    }

    @include respond(main-img-resp-1) {
        margin-top: 10px;
    }


}

.mt-phone {
    @include respond(phone) {
        margin-top: 10px;
    }
}

.noUi-horizontal {
    @include respond(phone) {
        height: 14px;

    }
}

.noUi-horizontal .noUi-handle {
    @include respond(phone) {
        height: 24px;

    }
}

.noUi-handle:after,
.noUi-handle:before {
    @include respond(phone) {
        top: 3px;

    }

}

.input-with-keypress-0,
.input-with-keypress-1 {
    text-align: center;
    width: 140px;
    padding-left: 0;

    @include respond(tab-port) {
        height: 30px;
        width: 100px;
        font-size: 15px;

    }

    @include respond(phone) {
        height: 30px;
        width: 90px;

    }
}

.iq-experienceYears {
    padding: .5rem 2rem .5rem 1rem;
}

.iq-salaryLevel {

    .select2-container {
        width: 200px !important;
    }
}

.switch-light.switch-candy input~span span:first-child,
.switch-light.switch-candy input:checked~span span:nth-child(2),
.switch-candy input:checked+label {
    color: $color-primary-dark;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    z-index: 5;
    cursor: pointer;
}

.switch-candy a {
    border: 2px solid $color-primary-dark;
    margin-left: -1px;
    cursor: pointer;
    border-radius: 20px;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: transparent;
    color: $color-primary-dark;
    // background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
}



.switch-toggle.switch-candy,
.switch-light.switch-candy>span {
    background-color: #fff;
    cursor: pointer;

}

.switch-gender {
    width: 100% !important;
    @include respond(phone) {
      font-size: 14px;

     }
}

.switch-candy input:checked+label {

    outline: none;

}

// 
$textColor: #1E2330;
$primary: #4D18FF;

.selectMultipleWorkingDays {
    width: 100%;
    position: relative;
    z-index: 6 !important;
    margin-top: 15px;

    select {
        display: none;
    }

    &>div {
        position: relative;
        z-index: 2;
        padding: 8px 12px 2px 12px;
        border-radius: 8px;
        background: #fff;
        font-size: 14px;
        min-height: 44px;
        box-shadow: 0 4px 16px 0 rgba(#162A5A, .12);
        transition: box-shadow .3s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 24px -1px rgba(#162A5A, .16);
        }

        .arrow {
            right: 1px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 28px;
            position: absolute;
            z-index: 6;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 8px;
                z-index: 6;
                border-bottom: 8px solid #99A3BA;
                top: 43%;
                transition: all .3s ease;
            }

            &:before {
                right: 12px;
                transform: rotate(-130deg);
            }

            &:after {
                left: 9px;
                transform: rotate(130deg);
            }
        }

        span {
            color: #99A3BA;
            display: block;
            position: absolute;
            left: 12px;
            cursor: pointer;
            top: 8px;
            line-height: 28px;
            transition: all .3s ease;
            z-index: 4;

            &.hide {
                opacity: 0;
                visibility: hidden;
                transform: translate(-4px, 0);
            }
        }

        a {
            position: relative;
            padding: 0 24px 6px 8px;
            line-height: 28px;
            color: $textColor;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 0 0;

            em {
                font-style: normal;
                display: block;
                white-space: nowrap;
            }

            &:before {
                content: '';
                left: 0;
                top: 0;
                bottom: 6px;
                width: 100%;
                position: absolute;
                z-index: 5;
                display: block;
                background: rgba(#E4ECFA, .7);
                background: #ddcbd2;
                z-index: -1;
                border-radius: 4px;
            }

            i {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 28px;
                display: block;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: $color-primary-dark;
                    border-radius: 1px;
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            &.notShown {
                opacity: 0;
                transition: opacity .3s ease;

                &:before {
                    width: 28px;
                    transition: width .45s cubic-bezier(.87, -.41, .19, 1.44) .2s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease .3s;
                }

                em {
                    opacity: 0;
                    transform: translate(-6px, 0);
                    transition: all .4s ease .3s;
                }

                &.shown {
                    opacity: 1;

                    &:before {
                        width: 100%;
                    }

                    i {
                        opacity: 1;
                    }

                    em {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }

            &.remove {
                &:before {
                    width: 28px;
                    transition: width .4s cubic-bezier(.87, -.41, .19, 1.44) 0s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease 0s;
                }

                em {
                    opacity: 0;
                    transform: translate(-12px, 0);
                    transition: all .4s ease 0s;
                }

                &.disappear {
                    opacity: 0;
                    transition: opacity .5s ease 0s;
                }
            }
        }
    }

    &>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        z-index: 1;
        position: absolute;
        z-index: 6;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: 8px;
        transform: translate(0, 20px) scale(.8);
        transform-origin: 0 0;
        filter: drop-shadow(0 12px 20px rgba(#162A5A, .08));
        transition: all .4s ease, transform .4s cubic-bezier(.87, -.41, .19, 1.44), filter .3s ease .2s;

        li {
            color: $textColor;
            background: #fff;
            padding: 12px 16px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s;

            &:first-child {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &:hover {
                background: $color-primary-dark;
                color: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 7;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background: rgba(#000, .4);
                opacity: 0;
                border-radius: 100%;
                transform: scale(1, 1) translate(-50%, -50%);
                transform-origin: 50% 50%;
            }

            &.beforeRemove {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &.afterRemove {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &.remove {
                transform: scale(0);
                opacity: 0;

                &:after {
                    animation: ripple .4s ease-out;
                }
            }

            &.notShown {
                display: none;
                transform: scale(0);
                opacity: 0;
                transition: transform .35s ease, opacity .4s ease;

                &.show {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &.open {
        &>div {
            box-shadow: 0 4px 20px -1px rgba(#162A5A, .12);

            .arrow {
                &:before {
                    transform: rotate(-50deg);
                }

                &:after {
                    transform: rotate(50deg);
                }
            }
        }

        &>ul {
            transform: translate(0, 12px) scale(1);
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 99;
            filter: drop-shadow(0 16px 24px rgba(#162A5A, .16));
        }
    }
}

.selectMultipleBenefits {
    width: 100%;
    position: relative;
    z-index: 6 !important;
    margin-top: 15px;

    select {
        display: none;
    }

    &>div {
        position: relative;
        z-index: 2;
        padding: 8px 12px 2px 12px;
        border-radius: 8px;
        background: #fff;
        font-size: 14px;
        min-height: 44px;
        box-shadow: 0 4px 16px 0 rgba(#162A5A, .12);
        transition: box-shadow .3s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 24px -1px rgba(#162A5A, .16);
        }

        .arrow {
            right: 1px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 28px;
            position: absolute;
            z-index: 6;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 8px;
                z-index: 6;
                border-bottom: 8px solid #99A3BA;
                top: 43%;
                transition: all .3s ease;
            }

            &:before {
                right: 12px;
                transform: rotate(-130deg);
            }

            &:after {
                left: 9px;
                transform: rotate(130deg);
            }
        }

        span {
            color: #99A3BA;
            display: block;
            position: absolute;
            left: 12px;
            cursor: pointer;
            top: 8px;
            line-height: 28px;
            transition: all .3s ease;
            z-index: 4;

            &.hide {
                opacity: 0;
                visibility: hidden;
                transform: translate(-4px, 0);
            }
        }

        a {
            position: relative;
            padding: 0 24px 6px 8px;
            line-height: 28px;
            color: $textColor;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 0 0;

            em {
                font-style: normal;
                display: block;
                white-space: nowrap;
            }

            &:before {
                content: '';
                left: 0;
                top: 0;
                bottom: 6px;
                width: 100%;
                position: absolute;
                z-index: 5;
                display: block;
                background: rgba(#E4ECFA, .7);
                background: #ddcbd2;
                z-index: -1;
                border-radius: 4px;
            }

            i {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 28px;
                display: block;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: $color-primary-dark;
                    border-radius: 1px;
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            &.notShown {
                opacity: 0;
                transition: opacity .3s ease;

                &:before {
                    width: 28px;
                    transition: width .45s cubic-bezier(.87, -.41, .19, 1.44) .2s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease .3s;
                }

                em {
                    opacity: 0;
                    transform: translate(-6px, 0);
                    transition: all .4s ease .3s;
                }

                &.shown {
                    opacity: 1;

                    &:before {
                        width: 100%;
                    }

                    i {
                        opacity: 1;
                    }

                    em {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }

            &.remove {
                &:before {
                    width: 28px;
                    transition: width .4s cubic-bezier(.87, -.41, .19, 1.44) 0s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease 0s;
                }

                em {
                    opacity: 0;
                    transform: translate(-12px, 0);
                    transition: all .4s ease 0s;
                }

                &.disappear {
                    opacity: 0;
                    transition: opacity .5s ease 0s;
                }
            }
        }
    }

    &>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        z-index: 1;
        position: absolute;
        z-index: 6;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: 8px;
        transform: translate(0, 20px) scale(.8);
        transform-origin: 0 0;
        filter: drop-shadow(0 12px 20px rgba(#162A5A, .08));
        transition: all .4s ease, transform .4s cubic-bezier(.87, -.41, .19, 1.44), filter .3s ease .2s;

        li {
            color: $textColor;
            background: #fff;
            padding: 12px 16px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s;

            &:first-child {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &:hover {
                background: $color-primary-dark;
                color: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 7;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background: rgba(#000, .4);
                opacity: 0;
                border-radius: 100%;
                transform: scale(1, 1) translate(-50%, -50%);
                transform-origin: 50% 50%;
            }

            &.beforeRemove {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &.afterRemove {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &.remove {
                transform: scale(0);
                opacity: 0;

                &:after {
                    animation: ripple .4s ease-out;
                }
            }

            &.notShown {
                display: none;
                transform: scale(0);
                opacity: 0;
                transition: transform .35s ease, opacity .4s ease;

                &.show {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &.open {
        &>div {
            box-shadow: 0 4px 20px -1px rgba(#162A5A, .12);

            .arrow {
                &:before {
                    transform: rotate(-50deg);
                }

                &:after {
                    transform: rotate(50deg);
                }
            }
        }

        &>ul {
            transform: translate(0, 12px) scale(1);
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 99;
            filter: drop-shadow(0 16px 24px rgba(#162A5A, .16));
        }
    }
}

.selectMultipleSkills {
    width: 100%;
    position: relative;
    z-index: 6 !important;
    margin-top: 15px;

    select {
        display: none;
    }

    &>div {
        position: relative;
        z-index: 2;
        padding: 8px 12px 2px 12px;
        border-radius: 8px;
        background: #fff;
        font-size: 14px;
        min-height: 44px;
        box-shadow: 0 4px 16px 0 rgba(#162A5A, .12);
        transition: box-shadow .3s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 24px -1px rgba(#162A5A, .16);
        }

        .arrow {
            right: 1px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 28px;
            position: absolute;
            z-index: 6;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 8px;
                z-index: 6;
                border-bottom: 8px solid #99A3BA;
                top: 43%;
                transition: all .3s ease;
            }

            &:before {
                right: 12px;
                transform: rotate(-130deg);
            }

            &:after {
                left: 9px;
                transform: rotate(130deg);
            }
        }

        span {
            color: #99A3BA;
            display: block;
            position: absolute;
            left: 12px;
            cursor: pointer;
            top: 8px;
            line-height: 28px;
            transition: all .3s ease;
            z-index: 4;

            &.hide {
                opacity: 0;
                visibility: hidden;
                transform: translate(-4px, 0);
            }
        }

        a {
            position: relative;
            padding: 0 24px 6px 8px;
            line-height: 28px;
            color: $textColor;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 0 0;

            em {
                font-style: normal;
                display: block;
                white-space: nowrap;
            }

            &:before {
                content: '';
                left: 0;
                top: 0;
                bottom: 6px;
                width: 100%;
                position: absolute;
                z-index: 5;
                display: block;
                background: rgba(#E4ECFA, .7);
                background: #ddcbd2;
                z-index: -1;
                border-radius: 4px;
            }

            i {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 28px;
                display: block;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: $color-primary-dark;
                    border-radius: 1px;
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            &.notShown {
                opacity: 0;
                transition: opacity .3s ease;

                &:before {
                    width: 28px;
                    transition: width .45s cubic-bezier(.87, -.41, .19, 1.44) .2s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease .3s;
                }

                em {
                    opacity: 0;
                    transform: translate(-6px, 0);
                    transition: all .4s ease .3s;
                }

                &.shown {
                    opacity: 1;

                    &:before {
                        width: 100%;
                    }

                    i {
                        opacity: 1;
                    }

                    em {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }

            &.remove {
                &:before {
                    width: 28px;
                    transition: width .4s cubic-bezier(.87, -.41, .19, 1.44) 0s;
                }

                i {
                    opacity: 0;
                    transition: all .3s ease 0s;
                }

                em {
                    opacity: 0;
                    transform: translate(-12px, 0);
                    transition: all .4s ease 0s;
                }

                &.disappear {
                    opacity: 0;
                    transition: opacity .5s ease 0s;
                }
            }
        }
    }

    &>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        z-index: 1;
        position: absolute;
        z-index: 6;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: 8px;
        transform: translate(0, 20px) scale(.8);
        transform-origin: 0 0;
        filter: drop-shadow(0 12px 20px rgba(#162A5A, .08));
        transition: all .4s ease, transform .4s cubic-bezier(.87, -.41, .19, 1.44), filter .3s ease .2s;

        li {
            color: $textColor;
            background: #fff;
            padding: 12px 16px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s;

            &:first-child {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &:hover {
                background: $color-primary-dark;
                color: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 7;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background: rgba(#000, .4);
                opacity: 0;
                border-radius: 100%;
                transform: scale(1, 1) translate(-50%, -50%);
                transform-origin: 50% 50%;
            }

            &.beforeRemove {
                border-radius: 0 0 8px 8px;

                &:first-child {
                    border-radius: 8px;
                }
            }

            &.afterRemove {
                border-radius: 8px 8px 0 0;

                &:last-child {
                    border-radius: 8px;
                }
            }

            &.remove {
                transform: scale(0);
                opacity: 0;

                &:after {
                    animation: ripple .4s ease-out;
                }
            }

            &.notShown {
                display: none;
                transform: scale(0);
                opacity: 0;
                transition: transform .35s ease, opacity .4s ease;

                &.show {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &.open {
        &>div {
            box-shadow: 0 4px 20px -1px rgba(#162A5A, .12);

            .arrow {
                &:before {
                    transform: rotate(-50deg);
                }

                &:after {
                    transform: rotate(50deg);
                }
            }
        }

        &>ul {
            transform: translate(0, 12px) scale(1);
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 99;
            filter: drop-shadow(0 16px 24px rgba(#162A5A, .16));
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    25% {
        transform: scale(30, 30);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(50, 50);
    }
}



.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    opacity: .5;
    transition: all .4s ease;

    &:hover {
        opacity: 1;
    }

    img {
        display: block;
        height: 36px;
    }
}







////
.searchfield {
   
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: space-around;
   
    text-align: center;
}

.searchfield form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;

    @include respond(tab-port) {
        flex-wrap: wrap;

    }

    @include respond(main-img-resp-1) {
        flex-wrap: wrap;

    }
}

.searchfield form .biginput {
    width: 60%;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;

    color: #aeaeae;
    font-weight: normal;
    font-size: 14px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;

    @include respond(tab-port) {
        width: 80%;

    }
}

#searchfield form .biginput:focus {
    color: #858585;
}

.flatbtn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: 0;
    border: 0;
    color: #f3faef;
    text-decoration: none;
    background-color: #6bb642;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: bold;
    padding: 12px 22px 12px 22px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}

.flatbtn:hover {
    color: #fff;
    background-color: #73c437;
}

.flatbtn:active {
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: $color-primary-dark;
}










.tooltipdiv {
    display: block;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.noUi-value {
    margin-top: 10px;
}

.noUi-connect {
    background: $color-primary;
}



////////////////////
/////////////////////////
////////////////////
/////////////////
////////
#categoryPriceSlider {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
}

.noUi-active .noUi-tooltip {
    display: block;
}

#categoryPriceSlider .noUi-tooltip {
    display: none;
}

#categoryPriceSlider .noUi-connect {
    background: rgba(0, 82, 204, 0.71);
}

#categoryPriceSlider div.noUi-handle {
    border: none;
    box-shadow: none;
    border-radius: 50%;
    width: 28px;
    background: #0052cc;
    right: -13px;
}

#categoryPriceSlider div.noUi-handle:before {
    content: initial;
}

#categoryPriceSlider div.noUi-handle:after {
    left: 10px;
    content: initial;
}

input.priceSlider {
    width: 100px;
    height: 30px;
    border-right: none;
    border-left: none;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    text-align: center;
}

.priceSliderArea.min {
    padding-left: 5%;
}

.priceSliderArea.max {
    padding-right: 5%;
}

.priceSliderArea button.btn-decrement {
    background: #ffffff;
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: none;
}

.priceSliderArea button.btn-increment {
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: none;
}

.slider-keypress {
    margin: 20px 0;
}

// SELECT
.select2-container--default .select2-selection--single {

    padding-left: 10px;
}

// DROPDOWN MONEY
.dropdown-money {
    width: 100px;
    // margin-top:20vh;
    position: absolute;
    left: 200px;
    top: 0;
    min-width: 3em;
    // position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    // top: .5em;  
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    z-index: 999;
    outline: none;
    border: .06em solid transparent;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-left: 1px solid transparent;
    transition: .3s all ease-in-out;

    input:focus+label {
        background: #def;
    }

    input {
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        opacity: 0.01;
    }

    label {
        border-top: .06em solid #d9d9d9;
        display: block;
        height: 40px;
        line-height: 2.3em;
        padding-left: 1em;
        padding-right: 2.4em;
        margin-bottom: 0;

        cursor: pointer;
        position: relative;
        transition: .3s color ease-in-out;

        &:nth-child(2) {
            margin-top: 40px;
            border-top: .06em solid #d9d9d9;
        }
    }

    input:checked+label {
        display: block;
        border-top: none;
        position: absolute;
        top: 0;
        width: 100%;

        &:nth-child(2) {
            margin-top: 0;
            position: relative;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 0.8em;
        top: 0.9em;
        border: .3em solid $color-primary-dark;
        border-color: $color-primary-dark transparent transparent transparent;
        transition: .4s all ease-in-out;
    }

    &.expanded {
        border: .06em solid $color-primary-dark;
        background: #fff;
        border-radius: .25em;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
        max-height: 15em;

        label {
            border-top: .06em solid #d9d9d9;

            &:hover {
                color: $color-primary;
            }
        }

        input:checked+label {
            color: $color-primary-dark;
        }

        &::after {
            transform: rotate(-180deg);
            top: .55em;
        }
    }
}

// DROPDOWN MONEY MİN
.dropdown-money-min {
    width: 100px;
    // margin-top:20vh;
    position: absolute;
    left: 216px;
    top: 0;
    min-width: 3em;
    // position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    // top: .5em;  
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    z-index: 999;
    outline: none;
    border: .06em solid transparent;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-left: 1px solid transparent;
    transition: .3s all ease-in-out;

    input:focus+label {
        background: #def;
    }

    input {
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        opacity: 0.01;
    }

    label {
        border-top: .06em solid #d9d9d9;
        display: block;
        height: 40px;
        line-height: 2.3em;
        padding-left: 1em;
        padding-right: 2.4em;
        margin-bottom: 0;

        cursor: pointer;
        position: relative;
        transition: .3s color ease-in-out;

        &:nth-child(2) {
            margin-top: 40px;
            border-top: .06em solid #d9d9d9;
        }
    }

    input:checked+label {
        display: block;
        border-top: none;
        position: absolute;
        top: 0;
        width: 100%;

        &:nth-child(2) {
            margin-top: 0;
            position: relative;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 0.8em;
        top: 0.9em;
        border: .3em solid $color-primary-dark;
        border-color: $color-primary-dark transparent transparent transparent;
        transition: .4s all ease-in-out;
    }

    &.expanded {
        border: .06em solid $color-primary-dark;
        background: #fff;
        border-radius: .25em;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
        max-height: 15em;

        label {
            border-top: .06em solid #d9d9d9;

            &:hover {
                color: $color-primary;
            }
        }

        input:checked+label {
            color: $color-primary-dark;
        }

        &::after {
            transform: rotate(-180deg);
            top: .55em;
        }
    }
}

// DROPDOWN MONEY MAX
.dropdown-money-max {
    // margin-top:20vh;
    position: relative;
    width: 100px;
    // position: absolute;
    // right: 0;
    // top: 0;
    min-width: 3em;
    // position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    // top: .5em;  
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    z-index: 999;
    outline: none;
    border: .06em solid transparent;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    // border-left: 1px solid transparent;
    transition: .3s all ease-in-out;

    @include respond( main-img-resp) {
        order: 2;
        position: absolute;
        right: 0;
        top: 0;
                }

    input:focus+label {
        background: #def;
    }

    input {
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        opacity: 0.01;
    }

    label {
        border-top: .06em solid #d9d9d9;
        display: block;
        height: 40px;
        line-height: 2.3em;
        padding-left: 1em;
        padding-right: 2.4em;
        margin-bottom: 0;

        cursor: pointer;
        position: relative;
        transition: .3s color ease-in-out;

        &:nth-child(2) {
            margin-top: 40px;
            border-top: .06em solid #d9d9d9;
        }
    }

    input:checked+label {
        display: block;
        border-top: none;
        position: absolute;
        top: 0;
        width: 100%;

        &:nth-child(2) {
            margin-top: 0;
            position: relative;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 0.8em;
        top: 0.9em;
        border: .3em solid $color-primary-dark;
        border-color: $color-primary-dark transparent transparent transparent;
        transition: .4s all ease-in-out;
    }

    &.expanded {
        border: .06em solid $color-primary-dark;
        background: #fff;
        border-radius: .25em;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
        max-height: 15em;

        label {
            border-top: .06em solid #d9d9d9;

            &:hover {
                color: $color-primary;
            }
        }

        input:checked+label {
            color: $color-primary-dark;
        }

        &::after {
            transform: rotate(-180deg);
            top: .55em;
        }
    }
}

.switch-light.switch-candy span span,
.switch-light.switch-candy input:checked~span span:first-child,
.switch-toggle.switch-candy label {
    color: #dd82a3;
    text-shadow: none;
}

.switch-toggle.switch-candy,
.switch-light.switch-candy>span {
    box-shadow: none;
    border: 2px solid #eae0e4
}

#qualification__list__input-error,
#post_constSalary-error
{
    display: block;
    width: 100%;
}

#post_minSalary-error{
    display: block;
    width: 41%;
    order: 4;
}
#post_maxSalary-error{
    display: block;
    width: 59%;
    order: 5;
}

label.error {
    font-size: 12px;
    color: red;
    font-style: italic;
    }

    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

  //////////
  //////////
  //////////////


// [data-icon]:after {
 
//   content: attr(data-icon);
//   speak: none;
// }
// input[type="search"] {
//   width: 196px;
//   height: 36px;
//   padding: 0;
//   line-height: 32px;
//   background: #56e2c9;
//   color: #fff;
//   border: 0;
//   font: bold 14px/20px "Arial", sans-serif;
//   text-indent: 12px;
//   outline: none;
//   -webkit-appearance: textfield;
// }
// input[type="search"]::-webkit-input-placeholder {
//   color: transparent;
// }
// input[type="search"]::-moz-input-placeholder {
//   color: transparent;
// }
// input[type="search"]:-ms-input-placeholder {
//   color: transparent;
// }
// input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
//   -webkit-appearance: none;
//   width: 32px;
//   height: 32px;
//   line-height: 30px;
//   color: white;
//   text-align: left;
//   cursor: pointer;
// }
// input[type="search"]::-webkit-search-cancel-button:before, input[type="search"]::-webkit-search-results-button:before, input[type="search"]::-webkit-search-results-decoration:before {
//   position: absolute;
//   content: 'x';
//   font-style: normal;
// }
// input[type="search"]:invalid {
//   border: 0 !important;
// }
// input[type="search"]:invalid::-webkit-search-cancel-button:before, input[type="search"]:invalid::-webkit-search-results-button:before, input[type="search"]:invalid::-webkit-search-results-decoration:before {
 
//   content: attr(data-icon);
// }
// input[type="search"] + label {
//   position: absolute;
//   margin: 8px 0 0 -30px;
//   cursor: pointer;
// }
// input[type="search"] + label:before {
//   position: absolute;
//   content: 'Choisir';
//   left: -152px;
//   width: 180px;
//   color: #fff;
//   font: bold 14px/20px "Arial", sans-serif;
//   text-align: left;
// }
// input[type="search"] + label:after {
//   margin-left: 7px;
//   color: #fff;
//   content: '\25BE';
// }

// input[type="search"]:focus::-webkit-input-placeholder {
//   font-weight: normal;
//   color: #fff;
// }
// input[type="search"]:focus::-moz-input-placeholder {
//   font-weight: normal;
//   color: #fff;
// }
// input[type="search"]:focus:-ms-input-placeholder {
//   font-weight: normal;
//   color: #fff;
// }
// input[type="search"]:focus:invalid + label:before {
//   display: none;
// }
// input[type="search"]:focus:invalid + label:after {
//   margin-left: 4px;
//   content: attr(data-icon);
// }
// input[type="search"]:valid + label {
//   display: none;
// }

// .ui-autocomplete {
//   width: 190px;
//   max-height: 180px;
//   padding: 0;
//   margin: 0;
//   overflow-y: auto;
//   overflow-x: hidden;
//   background: #2ec5aa;
//   color: #fff;
//   border-width: 4px 4px 4px 0;
//   border-style: solid;
//   border-color: #2ec5aa;
// }
// .ui-autocomplete ul {
//   list-style: none;
// }
// .ui-autocomplete li {
//   height: 36px;
//   margin: 0;
//   font: bold 14px/36px Arial, Helvetica, sans-serif;
//   white-space: nowrap;
// }
// .ui-autocomplete li:hover {
//   -moz-transition: background 0.3s ease-in;
//   -o-transition: background 0.3s ease-in;
//   -webkit-transition: background 0.3s ease-in;
//   transition: background 0.3s ease-in;
//   background: #3ed1b7;
// }

// .ui-autocomplete li a {
//   display: block;
//   padding: 0 12px;
//   cursor: pointer;
// }

// .carousel-inner {
//     overflow: visible !important;
// }




//////////////
.dropdown-multi {
    // position: absolute;
    // top:40%;
    // transform: translateY(-40%);
  
    a {
        background: #fff;
        color: $color-primary-dark;
        width: 100% !important;
        box-shadow: 0 4px 16px 0 rgba(22,42,90,.12);
        border: 1px solid $color-gray-light-1;
      }
  }
  

  
  .dropdown-multi dd,
  .dropdown-multi dt {
    margin: 0px;
    padding: 0px;
  }
  
  .dropdown-multi ul {
    margin: -1px 0 0 0;
  }
  
  .dropdown-multi dd {
    position: relative;
  }
  
  .dropdown-multi a,
  .dropdown-multi a:visited {
    color: $color-primary-dark;
    text-decoration: none;
    outline: none;
    font-size: 14px;
  }
  
  .dropdown-multi dt a {
    background-color: #fff;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
  }
  
  .dropdown-multi dt a span,
  .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
  }
  
  .dropdown-multi dd ul {
    background-color: #fff;
    border: 0;
    color: $color-primary-dark;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: auto;
    overflow: auto;
    z-index: 99999999;
    width: 100%;
  }
  
  .dropdown-multi span.value {
    display: none;
  }
  
  .dropdown-multi dd ul li a {
    padding: 5px;
    display: block;
  }
  
  .dropdown-multi dd ul li a:hover {
    background-color: #fff;
  }
  


