.pricing {
	&__customRadio {
		input[type="radio"] {
			position: absolute;
			left: -9999px;


			&+label {
				position: relative;
				padding: 3px 0 0 40px;
				cursor: pointer
			}

			&+label:before {
				content: '';
				background: #fff;
				border: 2px solid $color-primary-dark;
				height: 25px;
				width: 25px;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0
			}

			&+label:after {
				content: '';
				background: $color-primary-dark;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				position: absolute;
				top: 5px;
				left: 5px;
				opacity: 0;
				transform: scale(2);
				transition: transform 0.3s linear, opacity 0.3s linear
			}

			&:checked+label:after {
				opacity: 1;
				transform: scale(1)
			}
		}
	}


	&__modal {
		font-size: 16px;

		&__title {
			font-size: 24px;
		}

		&__close {
			font-size: 30px;
		}

		&__btn-pay {
			font-size: 20px;
		}
	}

	&__modal-footer {
		flex-direction: column !important;

		&__text {
			margin: 10px 0 0;
			padding: 5px;
			font-size: 14px;
			background-color: $color-gray-light-9;
		}
		
	}

	&__announcement {
margin: 20px auto;
		text-align: center;
		padding: 20px 0;
		// border: 2px solid $color-primary-dark;
		box-shadow: 0px 2px 14px -7px #7d7d7d;

		&__heading {

			color: $color-primary-dark;
			font-weight: normal;
			margin: 20px 100px;

		}

		&__paragraph {
			color: inherit;
			font-size: 16px;
		}


	}

	&__btn-groups {
		display: flex;
		justify-content: center;
		margin: 20px 0 140px 0;
	}

	&__btn {
		border-radius: 20px;
		padding: 12px 30px;
		font-size: 14px;
		font-weight: bold;

		&--post-a-job {
			&:hover {
				color: #fff;
			}
		}

		&--all-company {}

	}

	&__payment {
		&__div {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}

		&__form-group {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			// @include respondmax(sm) {
			// 	margin: 0 3px;

			// }
		}

		&__icon-left {
			font-size: 20px;
		}

		&__label {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&:hover input~.pricing__payment__label--span {
				background-color: #ccc;
			}


			&--span {
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
				background-color: #eee;
				border-radius: 50%;

				&::after {
					content: "";
					position: absolute;
					display: none;
					top: 9px;
					left: 9px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: white;
				}



			}


			// &:hover {
			// 	border: 2px solid $color-primary-dark;
			// }
		}

		&__input[type="radio"] {
			position: absolute;
			opacity: 0;
			cursor: pointer;

			&:checked~.pricing__payment__label--span {
				background-color: $color-primary-dark;
			}

			&:checked~.pricing__payment__label--span {
				display: block;
			}

			// visibility: hidden;
			// height: 0;
			// width: 0;
			// display: none;

			// &:checked+div,
			// &:checked+label {
			//     border: 2px solid $color-primary;

			// }
		}

		&__icon {
			display: none;

			&-left {
				color: $color-primary-dark;
			}
		}
	}
}

#elite-pricing-container {
	margin-top: 50px;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#elite-pricing-sales-text {

	padding-right: 80px;
	text-align: right;
	font-size: 24px;
	color: #555555;
	line-height: 1.5;
	font-weight: 700;
	max-width: 450px;
	padding-top: 90px;
}

#elite-pricing-card.price-card {
	max-width: 330px;
	color: white;
	position: relative;
	margin: 0 6px;
	padding: 30px 40px 10px 40px;
	background: url('https://images.unsplash.com/photo-1464639351491-a172c2aa2911?ixlib=rb-0.3.5&s=427721bc23b5d868669d8f0ba09c8710&auto=format&fit=crop&w=1200&q=80') left top no-repeat black;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


#elite-pricing-card.price-card .price-card--header {
	padding: 0;
	background-color: transparent;
}

#elite-pricing-card.price-card .price-card--header h4 {
	font-size: 36px;
	font-weight: 600;
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #f0c328;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top left, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
	background-size: 1em 1em;
	color: #fff1a3;
}

#elite-pricing-card.price-card #elite-pricing-card--desc {
	padding-bottom: 25px;
}

#elite-pricing-card.price-card .price-card--features {
	border-top: 1px solid #f0c328;
}

#elite-pricing-card.price-card ul.price-card--features--list {
	padding: 0 11px;
}

#elite-pricing-card.price-card .price-card--features--item {
	padding-bottom: 16px;
}

#elite-pricing-card.price-card .price-card--features--item:before {
	color: #f0c328 !important;
	left: -12px !important;
}


#elite-pricing-card.price-card .price-card--cta--button.btn {
	background-color: #f0c328;
	color: black;
	margin: 0 auto;
}

#elite-pricing-card.price-card .price-card--cta--button.btn:hover {
	background-color: white;
}

#elite-pricing-card--desc {
	font-size: 16px;
	line-height: 1.5;
	max-width: 400px;
}


@media (max-width: 980px) {
	#pricing-cards {
		/* 		display:none !important; */
	}


}











/* - - - - - - - - - Tooltips - - - */

.has-tooltip:not(.tooltip-disabled) {
	cursor: help;
	position: relative;
}

.has-tooltip:not(.tooltip-disabled):hover .tooltip-container {
	display: block;
}

.has-tooltip .tooltip-container {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 20;
	bottom: calc(100% + 13px);
	left: -10px;
	right: -10px;
	padding: 16px 20px;
	border-radius: 8px;
	box-shadow: 0 6px 55px -10px #777;
}

.has-tooltip .tooltip-container:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	font-size: 0;
	line-height: 0;
	content: "";
	position: absolute;
	bottom: -10px;
}

.has-tooltip .tooltip-container h6 {
	font-weight: 600;
	font-size: 16px;
	margin: 0px;
}

.has-tooltip .tooltip-container p {
	color: #555;
	margin-top: 4px;
}

/* - - - - - - - End Tooltips - - - */





#pricing-container * {
	box-sizing: border-box;
}

#pricing-container {
	-webkit-font-smoothing: antialiased;
	max-width: 1080px;
	margin: 0 auto 50px;
	justify-content: center;
	line-height: 1;
	color: #000;
}



/* Cards */

#pricing-cards {
	display: flex;
	font-size: 14px;
}

#pricing-container .price-card {
	background-color: white;
	display: block;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.25s;
	position: relative;
	margin: 0 6px;
	flex-grow: 1;
	flex-shrink: 1;
}

#pricing-container .price-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


/* - - - - - - - - - Header Section - - - */

#pricing-container .price-card--header {
	background-color: $color-primary-dark;
	margin: 0;
	padding: 20px 0;
	text-align: center;
}

#pricing-container .price-card--header h4 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: $color-white;
	font-weight: 700;
}


/* - - - - - - - - - Price Section - - - */

#pricing-container .price-card--price {
	text-align: center;
	padding: 28px 0 6px 0;
}

#pricing-container .price-card--price-text {
	font-size: 48px;
}

#pricing-container .price-card--price-number {
	font-weight: 500;
	opacity: 0.89;
}

.odometer div {
	display: inline-block;
}

.without-dollar-icon {
	&::before {
		content: "max" !important;
		font-size: 12px!important;
		display: inline-block!important;
		color: grey!important;
		top: 0 !important;
	}

	&::after {
		content: "job postings" !important;
		font-size: 12px;
	display: inline-block;
	margin-left: 5px !important;
	color: grey;
	}
}

#pricing-container .price-card--price-number:before {
	content: "$";
	font-size: 24px;
	top: -16px;
	display: inline-block;
	position: relative;
}

#pricing-container .price-card--price-number:after {
	content: "/month";
	font-size: 12px;
	display: inline-block;
	color: grey;
}

#pricing-container .price-card--price-conditions {
	padding: 14px 0;
	color: #888;
	line-height: 1.5;
}

#pricing-container .price-card--onboarding-fee {
	color: $color-primary-dark;
}

#pricing-container .price-card--onboarding-fee.has-fee {
	color: #888;
}


/* - - - - - - - - - CTA Button Section - - - */

#pricing-container .price-card--cta {
	padding: 0 20px 24px;
	text-align: center;
}

#pricing-container .price-card--cta--button.btn {
	min-width: 20px;
	display: block;
	max-width: 270px;
	margin: 0 auto;
	font-size: 20px;
	background-color: $color-primary-dark;
	color: #fff;
}





/* - - - - - - - - - Features Section - - - */

#pricing-container .price-card--features {
	border-top: 1px solid #ddd;
	padding: 16px 0 20px;
}

#pricing-container ul.price-card--features--list {
	padding: 0 32px;
	list-style: none;
	margin: 0;
}

#pricing-container li.price-card--features--item {
	margin: 8px 0;
	padding-left: 8px;
	line-height: 1.5;
	position: relative;
}

#pricing-container li.price-card--features--item:not(.features-disabled):before {
	content: "✓";
	color: $color-primary-dark;
	display: block;
	position: absolute;
	left: -8px;
}

#pricing-container li.price-card--features--item.features-highlight {
	/* 	font-weight: 600; */
}

#pricing-container li.price-card--features--item.features-disabled {
	opacity: 0.1;
	/* 	text-decoration: line-through; */
}




/* - - - - - - - - - Mobile Features Toggle - - - */

#pricing-container .price-card--mobile-features-toggle {
	text-align: center;
	border-top: 1px solid #ddd;
	margin: 24px 0 0;
	padding: 16px 0;
	cursor: pointer;
	display: none;
	color: $color-primary-dark;
}

#pricing-container .price-card--mobile-features-toggle:after {
	content: "Show All Features ▾";
}

#pricing-container .price-card--mobile-features-toggle.hideall:after {
	content: "Hide Features ▴";
}

/* - - - - - - - - - Hero Card Styles - - - */

#pricing-container .price-card--hero {
	margin: -38px 6px 0;
	/* 	width:31%; */
	z-index: 10;
}

#pricing-container .price-card--hero-text {
	background-color: $color-primary;
	height: 38px;
	color: white;
	line-height: 38px;
	text-align: center;
	font-weight: 600;
}

/* - - - - - - - - - Only Yearly Basic Styles - - - */

#pricing-container .only-yearly {
	position: relative;
}

#pricing-container .only-yearly .price-card--price-number {
	transition: opacity 0.2s;
}

#pricing-container .only-yearly .only-yearly--text {
	position: absolute;
	top: -0.2em;
	left: 0;
	right: 0;
	display: none;
}

#pricing-container .only-yearly .only-yearly--text span {
	font-size: 14px;
}

#pricing-container .only-yearly.if-monthly .price-card--price-number {
	opacity: 0;
}

#pricing-container .only-yearly.if-monthly .only-yearly--text {
	display: block;
}

.only-yearly--text--number {
	font-size: 48px !important;
}

/* - - - - - - - - - Switch Section - - - */

#pricing-switch {
	margin: 80px auto 100px;
	text-align: center;
	line-height: 1.4;
	position: relative;
	max-width: 1080px;
}

#pricing-switch .switch-label {
	display: inline-block;
	width: 200px;
	text-align: center;
	opacity: 0.4;
	font-size: 16px;
	cursor: pointer;
	padding: 0 20px;
}

#pricing-switch .switch-label .save-money {
	color: $color-primary;
	font-style: italic;
	padding-left: 8px;
}

#pricing-switch .save-money--mobile {
	color: #4caf50;
	font-style: italic;
	padding-top: 22px;
	display: none;
}

#pricing-switch .switch-label.active {
	font-size: 18px;
	opacity: 1;
}

#pricing-switch .switch-label-monthly {
	text-align: right;
}

#pricing-switch .switch-label-yearly {
	text-align: left;
}

#pricing-switch .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	vertical-align: -50%;
	margin: 0;
}

#pricing-switch .switch input {
	display: none;
}

#pricing-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $color-primary;
	border-radius: 34px;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

#pricing-switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

/* #pricing-switch input:checked + .slider {
	background-color: $color-primary-dark;
} */

#pricing-switch input:focus+.slider {
	box-shadow: 0 0 1px #2196f3;
}

#pricing-switch input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

@media (max-width: 767px) {}




/* - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - Media Queries - - - */
/* - - - - - - - - - - - - - - - - - - - */

@media (max-width: 1280px) {

	/* Tweak the card price font size */
	#pricing-container .price-card--price-text {
		font-size: 32px;
	}

	#pricing-container .price-card--price-number:before {
		top: -10px;
		font-size: 18px;
	}
}

@media (min-width: 981px) {

	/* 	always show features when not in mobile view */
	#pricing-container .price-card--features {
		display: block !important;
	}
}

@media (max-width: 980px) {
	#pricing-cards {
		display: block;
		padding: 0 24px;
	}

	#pricing-container .price-card {
		max-width: 360px;
		margin: 0 auto 48px;
	}

	#pricing-container .price-card:hover {
		transform: none;
	}

	#pricing-container .price-card-full-width {
		display: block;
	}

	#pricing-container .price-card-full-width .price-card--features--list {
		columns: 1;
	}

	#pricing-container .price-card--price {
		padding: 28px 0 0;
	}

	#pricing-container .price-card--features {
		display: none;
		margin: 26px 0 0 0;
		padding-bottom: 0;
	}

	#pricing-container ul.price-card--features--list {
		max-width: 250px;
		margin: 0 auto;
	}

	#pricing-container li.price-card--features--item.features-disabled {
		display: none;
	}

	#pricing-container .price-card--mobile-features-toggle {
		display: block;
	}

	/* Pricing Switch */
	#pricing-switch {
		margin: 26px 0 52px;
	}

	#pricing-switch .switch-label {
		display: inline-block;
		width: auto;
		font-size: 15px;
	}

	#pricing-switch .switch-label.active {
		font-size: 16px;
	}

	#pricing-switch .switch-label .save-money {
		display: none;
	}

	#pricing-switch .save-money--mobile {
		display: block;
	}

	/* Elite Pricing */
	#elite-pricing-container {
		display: block;
		padding: 0 24px
	}

	#elite-pricing-sales-text {
		padding-right: 0;
		padding-bottom: 32px;
		padding-top: 0;
		width: auto;
		max-width: 360px;
		margin: 0 auto;
		text-align: left;
		font-size: 18px;
		line-height: 1.5;
	}

	#elite-pricing-card.price-card .price-card--mobile-features-toggle {
		border-top: none;
		color: #f0c328;
		display: none;
	}

	#elite-pricing-card.price-card .price-card--features {
		display: block;
	}
}


@media (max-width: 480px) {
	#pricing-container .price-card {
		max-width: 360px;
		margin: 0 auto 36px;
	}

	#pricing-switch {
		margin: 26px 0 36px;
	}

	#elite-pricing-card.price-card {
		padding: 30px 20px 10px 20px;
	}
}










/* ****************** */
/* Odometer Theme CSS */
/* ****************** */
/* https://raw.githubusercontent.com/HubSpot/odometer/master/themes/odometer-theme-default.css */

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: relative;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default .odometer-digit {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
	text-align: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
	display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
	display: block;
	-webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
	display: block;
	-webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
	position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {

	line-height: 1.1em;
}

.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
	text-align: center;
}

/* ************************** */
/* UPDATES TO CHANGE DURATION */
/* ************************** */

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	-ms-transition: -ms-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
	will-change: auto;
}