.filter-table {
    border-collapse: collapse;
    width: 100%;
}

.filter-td, 
.filter-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.resumes{
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 100px;
    @include respond(phone) {
        margin-bottom: 40px;
       
        }
    &__col-table{
        margin-left: 20px;
        width: 97.5%;
        margin-bottom: 50px;
        @include respond(main-img-resp-1) {
            margin-left: 0;
            overflow: auto;
        }
    }

    &__navbar{
        
        font-size: 16px;
        
        &__category {
            background-color: $color-primary-dark;
            color: #fff;
            padding: 10px;
            .owl-nav {
                display: none;
            }
        }
        &__item {
            margin: 10px 0;
            line-height: 20px;
            .owl-nav {
                display: none;
            }
        }
    }
    &__search{
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        @include respond(phone) {
          margin-left: 0;
        //   padding-left: 10px;
        }

       
    }
    &__filter-search,
    &__filter-input{
     
        background-color: #fff;
        border-radius: 3px;
        margin-right: 5px;

        padding: 8px 10px 5px 10px;
        min-height: 25px;
        line-height: 18px;
        overflow: hidden;
        border: 0;
        width: 200px;
        color: #4d4d4d;
        border: 1px solid #ccc;
        font-size: 15px;
        font-weight: normal;
        @include respond(phone) {
            width: 150px ;
        }
    }
}
.owl-carousel-category {
   

    .owl-item {
        padding: 5px 10px;
        cursor: pointer;
    }
}
.owl-carousel-searchFilter {
    .owl-item{
        @include respond(main-img-resp-2) {
            width: 300px !important;
        }
        @include respond(main-img-resp-1) {
            width: 250px !important;
        }
        @include respond(tab-port) {
            width: 300px !important;
        }
        @include respond(phone-land) {
            width: 288px !important;
        }
        @include respond(phone) {
            width: 238px !important;
        }
    }
}

.owl-carousel-label{
    background-color: #fff;
    color: inherit;
    display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  z-index: 1;
  position: relative;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.owl-carousel-input[type=checkbox]{
  display: none;
/*   margin-right: -20px;
  position: relative;
  z-index: 2; */
}

.owl-carousel-input[type=checkbox]:checked + label{
    background-color: $color-primary-dark;
    color: #fff;
    border: $color-primary-dark;
}
.owl-carousel-all-item{
    display: none ;
}
